Project
    # Testname

Toolchain
    # gcc-arm-none-eabi
    # gcc

ToolchainPath
    # /usr/bin

BuildType
    # Debug
    # Release

IncludeFolders
    # inc

SourceFolders
    # src

CompileOptions
    # -Wall
    # -Wextra
    # -Werror

Libraries
    # libName ../lib/path

    ## remote libraries are cloned into build/_remote/<libName> by CMake itself
    # libName git@github.com:owner/repo.git
    # libName https://github.com/owner/repo.git BRANCH
    # libName git@github.com:owner/repo.git BRANCH subdir=SDK

    ## submodule=<path> vendors the repo into the tree instead of cloning at
    ## configure time, so the generated CMakeLists.txt needs no network. Required
    ## for build systems that forbid configure-time downloads, e.g. Yocto, which
    ## passes -DFETCHCONTENT_FULLY_DISCONNECTED=ON to every cmake recipe.
    ## cmakebuild does not run git; it prints the "git submodule add" to run.
    # libName git@github.com:owner/repo.git BRANCH subdir=SDK submodule=lib/libName

Languages
    C
    CXX
    ASM

CppVersion
    # 17
    # 23

CVersion
    # 99
    # 17
    # 23

GlobalDefines
    # TESTMAKRO 1
    # TESTMAKRO=2

CustomSets
    ## for RPI ARM
    # CMAKE_SYSTEM_NAME Generic
    # CMAKE_TRY_COMPILE_TARGET_TYPE=STATIC_LIBRARY
    # CMAKE_EXE_LINKER_FLAGS_INIT "--specs=nosys.specs"
