Project
    # Testname

Toolchain
    # gcc-arm-none-eabi
    # gcc

ToolchainPath
    # /usr/bin

BuildType
    # Debug
    # Release

IncludeFolders
    # inc

SourceFolders
    # src

CompileOptions
    # -Wall
    # -Wextra
    # -Werror

Libraries
    # libName ../lib/path

Languages
    C
    CXX
    ASM

CppVersion
    # 17
    # 23

CVersion
    # 99
    # 17
    # 23

GlobalDefines
    # TESTMAKRO 1
    # TESTMAKRO=2

CustomSets
    ## for RPI ARM
    # CMAKE_SYSTEM_NAME Generic
    # CMAKE_TRY_COMPILE_TARGET_TYPE=STATIC_LIBRARY
    # CMAKE_EXE_LINKER_FLAGS_INIT "--specs=nosys.specs"
